body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    color:white


}

.container{
    background-color: palevioletred;
    position: absolute;/* define a posição da div como absoluta   */
    top: 50%;/* a partir do topo 50%  */
    left: 50%;/* a partir da esquerda 50%  */
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 20px solid rgb(242, 242, 242);
    border-radius: 15%;


}
.timer{

}
.options{
    display: flex;
    justify-content: space-between; /* add equal space between each element */
    align-items: center;

}
.buttonTimer{
    border: 20px solid rgb(242, 242, 242);
    border-radius: 15%;
    margin-left: 10px;
    font-weight: bolder;
    color:palevioletred;
}

h1{
    font-weight: bold;
}

p{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}